@font-face {
   font-family: 'Lobster';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/HG/PernikahanKami/pernikahankami/theme12/fonts/Lobster/regular.ttf') format('truetype');
}
